header
    .container
        .row.justify-content-center
            .col-md-10.col-lg-8
                h1 Міжнародні перевезення автовозами
            .col-12
                img(src='img/illus/header.png' title='' alt='').img-header
            .col-md-8.col-lg-6
                h2#about Про нас
                p.text-center "Лідер автоперевезень з 1996 року. Більше 20 років ми
                    br
                    | доставляємо ваші авто безпечно та своєчасно".
                    br
                    | SINCE 1996
                a(href='' title='').button Зв'язатись
