header
    .container
        .row.justify-content-center
            .col-md-10.col-lg-8
                h1 Міжнародні перевезення автовозами
            .col-12
                img(src='img/illus/header.png' title='' alt='').img-header
            .col-md-8.col-lg-6
                h2 Про нас
                p.text-center Понад 20 років дорогами усього світу. Відповідально, надійно, зі знанням своєї справи. З 2004 року спеціалізуємось на транспортуванні легкових авто (ліц. Міністерства транспорту та зв'язку АВ 371408).
                a(href='' title='').button Зв'язатись
