head
    // meta tags
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=9;IE=10;IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='robots', content='ALL')
    meta(name='rating', content='GENERAL')

    base(href='')
    meta(name='title', content='Energia')
    meta(name='description', content='Надійно, безпечно, своєчасно. Понад 20 років досвіду. Обсяг — до 50 000 авто на рік. Перевезення VIP авто.')
    meta(name='keywords', content='Перевезення, автоперевезення, energia')
    meta(name='author', content='Volta Agency')
    meta(name='language', content='uk')

    // ogp facebook
    meta(property='og:title', content='Energia')
    meta(property='og:description', content='Надійно, безпечно, своєчасно. Понад 20 років досвіду. Обсяг — до 50 000 авто на рік. Перевезення VIP авто.')
    meta(property='og:type', content='website')
    meta(property='og:image:type', content='image/png')
    meta(property='og:url', content='http://energia.ltd')
    meta(property='og:image', content='http://energia.ltd/img/ogp/FB_OGP.png')

    // ogp twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Energia')
    meta(name='twitter:image:src', content='http://energia.ltd/img/ogp/TW_OGP.png')
    meta(name='twitter:description', content='Надійно, безпечно, своєчасно. Понад 20 років досвіду. Обсяг — до 50 000 авто на рік. Перевезення VIP авто.')
    link(rel='canonical' href='')

    // title
    title
        block title

    // favicon
    link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    // style
    link(rel='stylesheet', type='text/css', href='css/style.css')

    // modernizr
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

    <!--[if lt IE 9]>
        script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->

    script(type="application/ld+json").
        {
          "@context": "http://www.schema.org",
          "@type": "AutomotiveBusiness",
          "name": "Energia",
          "url": "http://energia.ltd/",
          "logo": "http://energia.ltd/img/logo/logo.svg",
          "image": "http://energia.ltd/img/ogp/FB_OGP.png",
          "description": "Надійно, безпечно, своєчасно. Понад 20 років досвіду. Обсяг — до 50 000 авто на рік. Перевезення VIP авто.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "вул. Шевченка, буд. 19, корпус А",
            "addressLocality": "с. Гавронщина",
            "addressRegion": "Макарівський район, Київська область",
            "addressCountry": "Україна"
          },
          "contactPoint": {
            "@type": "ContactPoint",
            "email": "logist@energy-cars.com.ua",
            "telephone": "+380504756502",
            "contactType": "Sales"
          }
        }