nav
    .container
        .row.justify-content-between
            .col-6.col-md-2
                a(href='index.html' title='').logo
                    img(src='img/logo/logo.svg' title='' alt='' onerror='this.src="img/logo/logo.png"')
            .col-6.nav-mobile
                .nav-icon#disable
                    span
                    span
                    span
                    span

            .col-md-10.col-lg-9.col-xl-8.nav-panel
                ul.menu
                    li
                        a(href='#about' title='').smooth Про нас
                    li
                        a(href='#advantages' title='').smooth Переваги
                    li
                        a(href='#autopark' title='').smooth Автопарк
                    li
                        a(href='#drivers' title='').smooth Водії
                    li
                        a(href='#clients' title='').smooth Клієнти
                    li
                        a(href='#services' title='').smooth Послуги
                    li
                        a(href='#contacts' title='').smooth Контакти
                    li
                        a(href='tel:+38 093 003 33 00' title='').phone +38 093 003 33 00