@import '../../utilities/vars'
@import '../../utilities/mixins'

/* MAIN STYLES */

html
  overflow-x hidden

body
  overflow-x hidden
  font(16px, $black, 400, normal)
  background $gray-back
  +mobile()
    padding-top 50px


.container
  +displays()
    width 1170px