@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  font-size 3.125em
  color $white
  font-weight 300
  line-height: 1.0;
  text-align center
  margin-bottom 10px
h2
  font-size: 1.875em
  font-weight: 700;
  letter-spacing: 2px;
  color $white
  text-align center
  margin-bottom 44px
  line-height 1

h3
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 33px;
h4
  font-weight 600
  color $gray-text3
  font-size 1.25em
  margin-bottom 28px
h5 {}
h6 {}

/* PARAGRAPH */
p
  font(1em, $black-text2, 400, normal)

hr
  border 1px solid $red
  margin-top 54px
  margin-bottom 10px

.black
  color $black-text

.gray
  color $gray-text2

.red-bold
  color $red
  font-weight 600
  font-size 1.25em