@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  font-size 3.125em
  color $white
  font-weight 300
  line-height: 1.0;
  text-align center
  margin-bottom 10px
  +mobile()
    margin-bottom 30px
h2
  font-size: 1.875em
  font-weight: 700;
  letter-spacing: 2px;
  color $white
  text-align center
  margin-bottom 44px
  line-height 1
  +mobile()
    font-size 1.75em

h3
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 40px;
h4
  font-weight 600
  color $gray-text3
  font-size 1.25em
  margin-bottom 28px
h5 {}
h6 {}

/* PARAGRAPH */
p
  font(1em, $black-text2, 400, normal)

hr
  border 1px solid $red
  margin-top 54px
  margin-bottom 10px

.black
  color $black-text

.gray
  color $gray-text2

.bold
  font-weight 700
  font-size 1.063em
  line-height: 1.41;

.red-bold
  color $red
  font-weight 600
  font-size 1.25em

.red-big
  color $red
  text-align left
  font-weight 700
  font-size: 3.250em
  letter-spacing: 3.5px
  margin-bottom: 45px;
  font-family $slave-font


.white-big
  color $white
  text-align left
  font-weight 700
  font-size: 3.250em
  letter-spacing: 3.5px
  margin-bottom: 20px;
  padding-top: 3px;
