.advantages
  background $white
  padding-top 83px
  padding-left 66px
  padding-right 66px
  margin-bottom 140px
  +tablet()
    margin-bottom: 101px;
  +mobile()
    padding-top 77px
    padding-left 30px
    padding-right 30px

.advantage
  padding 20px 30px 40px
  +mobile()
    padding-right 0
    padding-left 0
  img
    display block
    margin 0 auto 40px
  p
    font-size: .875em;
    line-height: 1.43;