.clients
  background $white
  padding-top 83px
  padding-bottom 68px
  +mobile()
    padding-top 77px
    padding-bottom 0
    ul, p
      margin-bottom 60px

.client-logos
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  padding 34px 0
  align-content center
  margin-bottom 100px
  li
    flex 1 1 16.66666666%
    max-width 16.6666666%
    text-align center
    margin-bottom 50px
    +mobile()
      flex 1 1 50%
      max-width 50%
    +portrait()
      flex 1 1 25%
      max-width 25%
    img
      filter grayscale(100%)
      transitions()
      +mobile()
        filter grayscale(0)
      +portrait()
        filter grayscale(0)
      &:hover
        filter grayscale(0)