@import "../../utilities/vars"
@import "../../utilities/mixins"

/* BUTTON */


.button
  color $white
  background $red
  max-width 262px
  width 100%
  text-align center
  display block
  margin 0 auto
  letter-spacing: 5px;
  font-size 1.25em
  padding 11px 0 15px
  &:hover
    background $red2

button.button
  border none
  transitions()
  max-width 360px
  letter-spacing: 9.3px;
  padding 14px 0 18px
