@import "../../utilities/vars"
@import "../../utilities/mixins"

/* FOOTER */
footer
  background $black
  padding-top 80px
  .logo
    margin-bottom 50px
    img
      max-width 130px
      width 100%
  h3
    line-height 1
    letter-spacing: 3px;
    color $gray-text2
  p
    font-size .75em
    line-height: 1.67;
    margin-bottom 40px
    color $white
    +mobile()
      font-size 1em
  a
    text-decoration underline
    color $white
    &:hover, &:focus
      color $red

.copyright
  p
    font-size .875em
    margin-bottom 12px
  +mobile()
    .col-6
      &:first-child
        padding-right 0
      &:last-child
        padding-left 0

.volta
  cursor pointer
  display inline-block
  svg
    margin-left 2px
    g
      fill $white
      transitions()
  &:hover
    svg g
      fill #7521E1
