@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADER */
header
  background $gray-back
  padding-top 150px
  padding-bottom 316px
  +mobile()
    padding-top 120px
  p
    color $white
    line-height: 1.5;
    margin-bottom 62px