@import '../../utilities/vars'
@import '../../utilities/mixins'

/* IMAGES */
img {}

.img-header
  width 100%
  margin-bottom 174px
  +mobile()
    width: 150%;
    margin-left: -50%;

.img-middle
  width 100%
  margin-bottom 45px