//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ENERGIA - Головна сторінка

block content

    section
        .section-relative
            .container
                .advantages
                    .row.justify-content-center
                        .col-12
                            h2.black#advantages Числа про нас:
                        .col-md-6.col-lg-4
                            .advantage
                                h2.red-big 12%
                                p ринку автоперевезень України
                        .col-md-6.col-lg-4
                            .advantage
                                h2.red-big 0,062%
                                p пошкоджень за останні 5 років
                        .col-md-6.col-lg-4
                            .advantage
                                h2.red-big 113 545
                                p авто перевезено за 20 років роботи
                .row.justify-content-between
                    .col-md-6.col-lg-6
                        .slider
                            .slide-col
                                img(src='img/slider/slider1.png' title='' alt='')
                            .slide-col
                                img(src='img/slider/slider2.png' title='' alt='')
                            .slide-col
                                img(src='img/slider/slider3.png' title='' alt='')
                            .slide-col
                                img(src='img/slider/slider4.png' title='' alt='')
                            .slide-col
                                img(src='img/slider/slider5.png' title='' alt='')
                            .slide-col
                                img(src='img/slider/slider6.png' title='' alt='')
                        span.slider-counter

                    .col-md-6.col-lg-5
                        h2.black.text-left#autopark Наш автопарк
                        p.bold У власності компанії 75 транспортних засобів.
                            br
                            | Це сучасні багатофункціональні автовози марок:
                        ul.ul-regular
                            li Scania - 53 шт.
                            li Volva - 3 шт.
                            li Mersedes Benz - 11 шт.
                            li DAF - 5 шт.
                            li Renault - 3 шт.
                        p.bold Причепи марок :
                        ul.ul-regular
                            li Kassbohrer «Руслан» srr10.18 - 9 шт.
                            li Rolfo arctic 36b - 15 шт.
                            li Rolfo Sirio c171h -19 шт. Rolfo sirio c171L - 4 шт.
                            li Kaesboherer mp-a4 - 6 шт.
                            li kaesbohrer citytrans - 1 шт.
                            li LOHR - 11 шт.
                            li Эвакуатор - 2 шт.


    section.drivers
        .container
            .row.justify-content-center
                .col-12
                    h2#drivers Наші водії
                    img(src='img/illus/drivers.png' title='' alt='').img-middle
                .col-md-5
                    h3.gray Водії
                    .drivers-number
                        h2.white-big 95
                        p водіїв-професіоналів
                    .drivers-number
                        h2.white-big 15
                        p років — середній стаж
                .col-md-5
                    h3.gray Школа
                    ul.ul-regular.ul-white
                        li Обов`язкова переатестація — 1 раз на рік
                        li Власна школа підвищення кваліфікації
                        li Соціальна відповідальність: водії — наша головна цінність
                    p З метою підвищення безпеки та ефективності роботи, на 1 автовозі працюють 2 водії з графіком роботи не більше 20 днів. Вся діяльність компанії здійснюється в суворій відповідності з українським та міжнародним законодавством.


    section.services
        .container
            .row.justify-content-center
                .col-md-11.col-lg-8
                    h2#services Послуги
                    .service
                        .service--description
                            h3 Перевезення автомобілів
                            p Перевезення за допомогою автовозів - найбільш поширений і безпечний спосіб одночасної доставки декількох машин.
                        .service--image
                            img(src='img/illus/service1.png' title='' alt='' onerror='this.src="img/illus/service1.png"')
                    .service
                        .service--description
                            h3 Перевезення VIP автомобілів
                            p Наші фахівці надзвичайно обережно завантажують, доставляють та розвантажують транспорт, тому нам довіряють перевезення авто найвищого класу.
                        .service--image
                            img(src='img/illus/service2.png' title='' alt='' onerror='this.src="img/illus/service2.png"')

    section
        .container
            .contacts
                .row.justify-content-center
                    .col-md-10.col-lg-8
                        .form-visible
                            h2.black#contacts Зв'язатися з нами
                            form#contact-form(action='php/send.php' method='POST')
                                input(type='text' name='name' placeholder='Введіть ім\'я')
                                input(type='email' name='email' placeholder='E-mail')
                                textarea(placeholder='Текст повідомлення' name='text')
                                p.error-p
                                button(type='submit').button Відправити
                        .form-hidden
                            h2.black Замовити послугу
                            .flex-container
                                div
                                    img(src='img/icons/mail.svg' title='' alt='' onerror='this.src="img/icons/mail.png"')
                                    p Дякуємо, ваша заявка відправлена
                            a(href='' title='' alt='').button.button-hidden.okay-btn Добре



